{
  "env": {
    "browser": false,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module"
  },
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier", "import"],
  "rules": {
    "prettier/prettier": "error",
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": ["test/**", "rollup.*", "karma.*"],
        "optionalDependencies": false,
        "peerDependencies": false
      }
    ],
    "import/order": [
      "error",
      {
        "groups": ["builtin", "external", "internal", "parent", "sibling", "index"]
      }
    ]
  },
  "overrides": [
    {
      "files": ["src/**/*.{js,mjs}", "test/**/*.{js,mjs}"],
      "env": {
        "browser": true,
        "node": false
      }
    },
    {
      "files": ["src/**/*.{js,mjs}"],
      "rules": {
        "import/no-extraneous-dependencies": ["error", { "peerDependencies": true }]
      }
    }
  ]
}
